################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/miniSQL/v15/ipch/AutoPCH/80962171/标头1-f93eab0e
/.vs
